
{% extends "ShopApp/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load custom_actions %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='slim' %}
{% block userstyle %}
    <link rel="stylesheet" href="{% static "ShopApp/css/cart.css" %}"
{% endblock userstyle %}


{% block content %}
    <div class="container contents">
    
    
         
        <div class="jumbotron">
           
           <h8> Get delivered to <span class="badge badge-secondary">{{ it.owner.address }} , {{ it.owner.street_address }}</span> </h8><br>
            <h8> or <a href="{% url "ShopApp:set_drop_location" %}" class="badge badge-dark"> change delivery address </a>
            <br>
            
            {% for item in it.items.all %}
                <div class="row">
                    <div class="col-5">
                <h5> {{ item.product.product_name }} </h5>
                <h7> Price: {{ item.product.price }} </h7>
                    </div>
                    <div class="col-3">
                        <form action="{% url "ShopApp:setSize" pk=item.pk %}" method="GET">
                        <div class="drop">
                        <a class="btn btn-outline-secondary bu" data-toggle="">
                                Size
                        </a>
                            <div class="dropdown-content">
                        {% for si in item.product.sizes_available|str_to_list %}
                               
                                <button class="btn btn-dark bu" value="{{ si }}" type="submit" name="size" class="btns">{{ si }}</button>
                              
                        {% endfor %}
                            </div>
                            </div>
                        </form>
                    </div>
                    <div class = "col-4">
                        <a class="btn btn-danger" href="{% url 'ShopApp:delete_from_cart' pk=item.pk %}" class="btns">Delete </a>
                    </div>
                </div>
                <hr>
                
                {% empty %}
                    <br>
                    <h3> Oops, no items in cart </h3>
                    <p> Please add to cart to buy </p>
            {% endfor %}
                
            <br><br>
            <div class="row">
                <div class="col-8">
             Total Price = {{ it.get_cart_total }} +<br>
             Delivery    = 50 <br>
             Final Price =  {{ it.get_cart_total|add:"50" }}
                </div>
                
                {% if request.session.empty == 1 %} 
                
                {% else %}
                <div class="col-2">
                    <a class="btn btn-success" href="{% url "ShopApp:PlaceOrder" pk=it.pk %}" class="btns">Checkout</a>
                </div>
                {% endif %}
            </div>

        </div>
        
        {% bootstrap_messages %}
    </div>
        
    
    

    


{% endblock content %}


{% block userscript %}
<script type="text/javascript" src="js/bootstrap/bootstrap-dropdown.js"></script>
<script>
     $(document).ready(function(){
        $('.dropdown-toggle').dropdown()
    });
</script>
<script src="{% static "ShopApp/js/jquery.min.js" %}" type="text/javascript"></script>
<script src="{% static "ShopApp/js/bootstrap.min.js" %}" type="text/javascript"></script>
{% endblock userscript %}