{% extends 'ShopApp/base.html' %}
{% load static %}
{% load custom_actions %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='slim' %}
{% block title %}Footpath|My orders{% endblock title %}



{% block content %}
<div class="container">
    
        
        <div class='col-6'>
            <button id='delivered_btn' class="btn btn-dark">Switch to Delivered</button>
        </div>
    <hr>
    <!--Ordered-->
    <div id="ordered" style="display:block;">
        <h3> Ordered </h3>
    {% for order in ordered %}
        <div class='jumbotron bg-dark'>
            {% for item in order.ordered.items.all %}
                
                <p> <a href="{% url 'ShopApp:detail' pk=item.product.id %}" class="text-light">{{ item.product.product_name }} </a> </p> 
               
            {% endfor %}
            <p class="text-muted"> Total price: {{ order.amount|add:'50' }} (inc delivery) </p>
            <p class="text-muted"> Date: {{ order.ordered.date_ordered }}</p>
            <hr>
            <a href="{% url 'ShopApp:delete_order' pk=order.pk %}" class= "btn btn-danger">Cancel </a>
        </div>
    {% empty %}
        <h5> No orders </h5>
    {% endfor %}
    </div>
    <!--end of order-->
    <!--Delivered-->
    <div id="delivered" style="display:none">
     <h3> Delivered </h3>
    {% for order in delivered %}
        <div class='jumbotron bg-dark'>
            {% for item in order.ordered.items.all %}
                
                <p><a href="{% url 'ShopApp:detail' pk=item.product.id %}" class="text-light">{{ item.product.product_name }} </a> </p> 

            {% endfor %}
            <p class="text-muted"> Total price: {{ order.amount|add:'50' }} (inc delivery) </p>
            <p class="text-muted"> Date: {{ order.ordered.date_ordered }}</p>
        </div>
    {% empty %}
        <h5> Nothing delivered yet. </h5>
    {% endfor %}
    </div>
    <!--end of delivered-->
</div>
{% endblock content %}


{% block userscript %}
    <script>
        var tog = 0;
        var delivered = document.getElementById('delivered');
        var ordered = document.getElementById('ordered');
        $('#delivered_btn').click(
            function(){
                if(tog==0){
                    //switch to delivered
                    tog=1;
                    delivered.style.display = "block";
                    ordered.style.display = "none";
                    $('#delivered_btn').html("Switch to ordered");

                }
                else{
                    tog=0;
                    delivered.style.display = "none";
                    ordered.style.display = "block";
                    $('#delivered_btn').html("Switch to delivered");
                }
            }
        )

    </script>

{% endblock userscript %}