        .bg-prime {
            background: linear-gradient(#243B55, #243B55);
        }
        
        .main {
            background: white;
        }
        
        #rounded {
            height: 40px;
        }
        
        .iconStyle {
            font-size: 5px;
        }
        
        .dropdown-menu a {
            transition-duration: 0.3s;
        }
        
        .dropdown-menu a:hover {
            background: rgb(221, 186, 69);
            color: white;
        }
        
        .category {
            background: #243B55;
            padding: 20px 20px 20px 10px;
            color: white;
            border-radius: 0px 0px 3px 0px;
            transition-duration: 0.8s;
            text-align: center;
            font-weight: 600;
        }
        
        .category:hover {}
        
        #category-button {}
        
        #category-button:hover {
            background: rgba(0, 0, 0, 0.39);
            width: 102%;
            height: 100%;
            border: 2px solid rgb(19, 18, 18);
        }
        
        #category-button a {
            color: white;
            text-decoration: none;
            transition-duration: 0.3s;
        }
        
        #category-button a:hover {
            font-size: 20px;
        }
        
        .col-lg-12 {
            height: 40px;
        }
        
        .card {
            box-shadow: 1px 1px 2px 1px grey;
            transition-duration: 0.3s;
            margin: 0px 8px 0px 8px;
        }
        
        .card:hover {
            box-shadow: 0px 0px 0px 0px grey;
        }
        
        .card-title a {
            color: black;
            font-weight: 300px;
        }
        
        .grad {
            background: linear-gradient(#360033, #0b8793);
        }
        
        @media (max-width:576px) {
            .category {
                width: 100%;
            }
            .card-title {
                font-size: 20px;
            }
        }
        
        #header {
            transition: 0.2s;
            font-size: 17px;
        }
        
        #padding {
            padding-right: 0;
            padding-left: 0;
        }
        
        .pagination {
            align-content: center;
        }
        
        .pagination li {
            background: #243B55;
            color: rgb(143, 255, 51);
            font-size: 20px;
            padding-top: 4px;
            padding-bottom: 4px;
            padding-left: 12px;
            padding-right: 12px;
            border: 1px solid white;
            border-radius: 3px;
            transition: 0.2s;
        }
        
        .pagination li:hover {
            background: rgb(0, 0, 0);
            color: rgb(255, 255, 255);
        }
        
        .pagination li a {
            color: white;
        }