#pad {
    margin-bottom: 480px;
}

.h4 {
    color: rgb(102, 98, 98);
    text-align: center;
}

.h4-2 {
    color: rgb(102, 98, 98);
    text-align: center;
    margin-left: 20px;
}

@media (max-width:992px) {
    #pad {
        margin-bottom: 50px;
    }
}